<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Carpediem - Open Source Projects</title>
        <meta name="description" content="Open Source projects created or maintained by Carpediem">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,900,700">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/apple-touch-icon-144x144.png">
    </head>
    <body>
        <header>
            <h1><a href="{{ site.baseurl }}/">Carpediem Tech</a></h1>
        </header>
        <main>
            <div class="hero">
            This is the home for all open sourced projects from <a href="https://www.carpediem.fr" target="_blank">Carpediem</a><br>
            Contributions are <strong>welcomed</strong> and will be fully <strong>credited</strong>.<br> Projects are made better in every possible way thanks to contributors like you. <a href="https://github.com/carpediem" target="_blank" class="button">view on Github</a>
            </div>
            <article>
{{ content }}
            </article>
        </main>
    </body>
</html>